/*Paleta de colores
#A66530
#E6B737
#E6A237
#E66737
#E6CC37
#E6C084
*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
}

body{
    background-color: 
    rgb(0, 0, 0);
}

footer{
    width: 100%;
    height: 280px;
    background-color: white;
    padding-top: 30px;
    overflow: hidden;
}

header{
    position: fixed;
    padding: 2px 5%;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(248, 122, 83);
    border-bottom: 2px solid rgb(252, 196, 124);
    box-shadow: 0 2px 20px rgb(253, 124, 124);
    z-index: 1;
}

header ul{
    display: flex;
    align-items: center;
}

header ul li:hover{
    color: #7a4519;
}

header .nav ul li{
    padding: 0 15px;
    font: 20 px;
    font-size: 20px;
    font-weight: bold;
    -webkit-transition:all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}


header .logo img{
    width: 150px;
}

.inicio{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-image: url(img/background/background1.jpg);
    background-size: 110% 100%;
}

.inicio .bienvenida{
    padding: 5%;
    width: 50%;
}

.inicio .bienvenida h1{
    font-weight: bold; /* Opcional: mejora la visibilidad del gradiente */
    font-size: 90px;
    margin-bottom: 15px;
    line-height: 120px;
    font-optical-sizing: auto;
    font-style: normal;
    text-shadow: -4px 0px 0px rgba(222, 120, 72, 0.622), 4px 0px 0px rgba(222, 120, 72, 0.622), 0ch 4px 0px rgba(222, 120, 72, 0.622), 0px -4px 0px rgba(222, 120, 72, 0.622); 
}

.inicio .bienvenida p{
    text-align: left;
    color: rgb(24, 22, 24);
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 700;
    text-shadow: -2px 0px 10px #E6C084;
}

.inicio .image img{
    width: 1000px;
    min-width: 600px;
}

.btn{
    background-color: orange;
    color: black;   
    display: inline-flex;
    align-items: center;
    padding: 20px 30px;
    border-radius: 50px;
    font-weight: bold;
    font-size: large;
}


.btn img{
    position: relative;
    top: 1px;
    left: 4px;
}

.btn:hover{
    background-color: rgb(237, 181, 75);
    transform: translateX(20px);
}

.nosotros{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 5%;
    background-image: url(img/background/background3.jpg);
    background-size: 100% 100%;
}

.nosotros .image img{
    width: 40vw;
    max-width: 600px;
    border-radius: 50%;
}

.nosotros .content{
    max-width: 40vw;
    width: 50%;
    text-align: justify;
    font-weight: 600;
    text-shadow: -2px 0px 2px #fff, 2px 0px 2px #fff;
}

.nosotros .content h2{
    font-family: "Pacifico", cursive;
    font-size: 30px;
    color: rgb(85, 57, 36);
    text-align: left;
    text-shadow: -2px 0px 1px #E6C084, 2px 0px 1px #E6C084, 0px -2px 1px #E6C084, 0px 2px 1px #E6C084;
}

.nosotros .content h1{
    color: #A66530;
    font-size: 45px;
    margin-bottom: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    text-shadow: -2px 0px 5px #000, 3px 0px 4px #000 ;
}

.nosotros.content p{
    color: rgb(109, 97, 110);
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 25px;
}

#mision{
    margin-bottom: 0px;
}

.separacion{
    width: 100%;
    height: 25px;
    position: relative;
    top: 0px;
    background-image: url(img/background/div1.jpg);
    background-size: 50% 150%;
}

.cut{
    width: 100%;
    height: 12px;
    position: relative;
    top: 0px;
    background-color: black;
}

.menuVentana{
    background-image: url(img/background/galeria.jpg);
    background-size: 100% 100%;
    padding: 100px 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ventana{
    background-color: #E6C084;
    width: 35%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    padding: 30px;
    align-items: center;
    min-height: 250px;
    border-radius: 22px;
    margin-bottom: 20px;

}

.ventana h1{
    margin-top: -5px;
    margin-bottom: 20px;
    text-align: center;
}


.ventana p{
    margin-bottom: 10px;
    text-align: center;
}

.ventana span{
    color: red;
    font-weight: 700;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.188);
}

.ventana .cerrar{
    position: absolute;
    right: 8px;
    top: 5px;
}

.menu-box{
    background-image: url(img/background/background2.jpg);
    background-size: 100% 100%;
    padding: 100px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.menu-card{
    min-width: 290px;
    width: 290px;
    max-height: 420px;
    padding: 40px 20px;
    background-color: #E6C084;
    padding-top: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    overflow: visible;
    margin-bottom: 100px;
    box-shadow: 0 0 50px white; 
}

.menu-card:hover img{
    margin-top: -60px;
}

.menu-card img{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    transition: all 0.3s;
}

.menu-card h4, .menu-card p, .menu-card span{
    text-align:justify;
    margin-bottom: 15px;
    display: block;
}

.menu-card h4{
    font-weight: bolder;
    color: #7a4519;
    font-size: 20px;
}

.menu-card p{
    font-size: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-card span{
    width: 115px;
    height: 30px;
    border-radius: 15px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 5px;
    background-color: rgb(210, 118, 65);
    color: black;
    font-weight: 700;
}

.menu-card span a:hover{
    color: rgb(34, 12, 123);
}

.pack{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 5%;
    background-image: url(img/background/div3.jpg);
    background-size: 100% 100%;
}

.pack .image img{
    border-radius: 50%;
    width: 600px;
}

.pack .content{
    width:50%;
    position: relative;
    top: -20px;
    font-weight: bold;
    text-shadow: -2px 0px 10px #fff;
}

.pack h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: rgb(190, 128, 80);
    margin-bottom: 10px;
    text-shadow: -2px 0px 3px #000, 2px 0px 3px #000, 0px -2px 3px #000, 0px 2px 3px #000;
}

.pack .content p{
    color: rgb(0, 0, 0);
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 25px;
    text-align: justify;
    
}
.pack .content span{
    color: rgb(0, 0, 0);
    margin-left: -25px;
    font-size: 22px;
    text-align: center;
}

.promociones {
    padding: 50px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url(img/background/div1.jpg);
}

.promocion-card{
    min-width: 600px;
    width: 600px;
    max-height: 420px;
    padding: 60px 20px;
    background-color: #E6C084;
    padding-top: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    overflow: visible;
    margin-bottom: 100px;
    box-shadow: 0 0 50px black; 
}

.promocion-card:hover img{
    transform: scale(1.2);
}

.promocion-card img{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 200px;
    height: 200px;
    transition: all 0.3s;
}

.promocion-card h4, .promocion-card p, .promocion-card span{
    text-align:justify;
    margin-bottom: 15px;
    display: block;
}

.promocion-card h4{
    text-align: center;
    font-weight: bolder;
    color: #7a4519;
    font-size: 20px;
}

.promocion-card p{
    font-size: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.promocion-card span{
    color: rgb(150, 148, 7);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.188);
    width: 120px;
    height: 30px;
    border-radius: 15px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 5px;
    background-color: rgb(210, 118, 65);
    color: black;
    font-weight: 700;
}

.container{
    padding-top: 15px;
}

.container h1{
    margin-top: 12px;
    text-shadow: -2px 0px 10px #fff;
}
.container .caja{
    width: 600px;
    height: 400px;
    box-shadow: 10px 10px 20px black;
    margin: 80px auto;
    margin-top: 20px;
    overflow: hidden;
}

.container .fotos{
    display: grid;
    grid-template-columns: repeat(4,100%);
    height: 100%;
    width: 100%;
}

.container #foto1{
    background-image: url(img/local/foto1.jpg);
    background-size: 600px 400px;
    background-position: center;
}


.container #foto2{
    background-image: url(img/local/foto2.jpg);
    background-size: 600px 400px;
    background-position: center;
}

.container #foto3{
    background-image: url(img/local/foto3.jpg);
    background-size: 600px 400px;
    background-position: center;
}

.container #foto4{
    background-image: url(img/local/foto4.jpg);
    background-size: 600px 400px;
    background-position: center;
}


.container #evento1{
    background-image: url(img/eventos/evento1.jpg);
    background-size: 600px 400px;
    background-position: center;
}


.container #evento2{
    background-image: url(img/eventos/evento2.jpg);
    background-size: 600px 400px;
    background-position: center;
}

.container #evento3{
    background-image: url(img/eventos/evento3.jpg);
    background-size: 600px 400px;
    background-position: center;
}

.container #evento4{
    background-image: url(img/eventos/evento4.jpg);
    background-size: 600px 400px;
    background-position: center;
}

.button-holder{
    position: relative;
}

.button{
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: inline-block;
    margin: .3rem;
    margin-top: -30px;
    margin-left: 5px;
    margin-bottom: 60px;
}

.button:hover{
    box-shadow: 0px 0px 7px 4px rgba(13, 39, 208, 0.874);
}

.miGaleria{
    background-image: url(img/background/galeria.jpg);
    background-size: 100% 110%;
    display: block;
    justify-content: space-around;
    align-items: center;
}

.top{
    position: relative;
    top: -10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.horario{
    font-size: 20px;
    text-align: center;
    
}

.nav-footer{
    justify-content: center;
    line-height: 25px;
}

.nav-footer ul li:hover{
    color: blue;
}

.datos{
    position: relative;
    top: 20px;
    background-color: #A66530;
    position: relative;
    top: 10px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.firma{
    position: relative;
    top: 10px;
    height: 80px;
    padding-top: 20px;
    text-align: center;
    box-shadow: 2px 0 5px  black;
}

.firma{
    margin-bottom: 20px;
}

.presentacion{
    width: 100%;
    height: 160px;
    padding: 25px 65px;
    background-image: url(img/background/back_title.jpg);
    background-size: 100% 160px;
    text-shadow: 2px 0px 0px #E66737;
}

.presentacion h1{
    font-size: 50px;
    margin-bottom: 15px;
}

.presentacion p{
    margin: 10px;
    font-weight: 600;
}

.space{
    height: 60px;
}

#menuComida{
    padding-top: 12px;
    text-align: center;
}

#large{
    width: 350px;
}

#cliente{
    text-align: center;
    padding-top: 12px;
}

#proms{
    margin-bottom: 12px;
}

#individual, #familia{
    background-image: url(img/background/div3-r.jpg);
}


#nosotros-sec, #galeria{
    padding: 12px;
    text-align: center;
    width: 100%;
}







